@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

[type="file"]::-webkit-file-upload-button {
  background: #003465;
  border: 2px solid rgba(0, 0, 0, 0.034);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.24);
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#uploadedImage {
  padding-top: 0 !important;
}

body {
  font-family: 'Rubik', sans-serif;
}

body .login {
  background: url("https://cdn.pixabay.com/photo/2021/01/05/06/40/boat-5889919_960_720.png");
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat !important;
}

body .login .login-container {
  background: rgba(91, 141, 216, 0.28);
  border-radius: 40px;
  width: auto;
  height: auto;
  padding-top: 58px;
  padding-bottom: 58px;
  padding-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 92px;
}

body .login .login-container .login-row .login-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

body .login .login-container .login-row form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 470px;
}

body .login .login-container .login-row form .text-alert {
  margin-top: 10px;
}

body .login .login-container .login-row form .text-alert .text-art {
  color: #020000;
  font-weight: bold;
  font-size: 18px;
}

body .login .login-container .login-row form label {
  margin: 13px 0;
  color: #fff;
}

body .login .login-container .login-row form input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #BCBEC0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding-left: 23px;
  color: #a4a6a8;
  font-size: 19px;
}

body .login .login-container .login-row form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

body .login .login-container .login-row form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

body .login .login-container .login-row form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

body .login .login-container .login-row form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

body .login .login-container .login-row form .form-btn {
  margin-top: 25px;
  background: #003465;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

body .login .login-container .login-row form .form-btn:hover {
  color: #000;
  background: transparent;
  border: 1px solid #003465;
  border-radius: 500px;
}

body .login .login-container .login-row .register-link {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login .login-container .login-row .register-link p {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

body .login .login-container .login-row .register-link p span {
  margin-left: 10px;
  font-weight: bold;
}

body #header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.034);
  width: 100%;
}

body #header .container {
  max-width: 1200px;
  margin: 0 auto;
}

body #header .container .h-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #header .container .h-row .h-left a {
  font-size: 25px;
  color: #000;
}

body #header .container .h-row .h-left a span {
  color: #328ee4;
}

body #header .container .h-row .h-average {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: -60px;
}

body #header .container .h-row .h-average input {
  width: 600px;
  background: #ECF0F1;
  height: 40px;
  border-radius: 10px;
  color: gray;
  padding-left: 20px;
  font-size: 16px;
}

body #header .container .h-row .h-average input::-webkit-input-placeholder {
  color: gray;
}

body #header .container .h-row .h-average input:-ms-input-placeholder {
  color: gray;
}

body #header .container .h-row .h-average input::-ms-input-placeholder {
  color: gray;
}

body #header .container .h-row .h-average input::placeholder {
  color: gray;
}

body #header .container .h-row .h-average i {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 10px;
  width: 40px;
  font-size: 25px;
  background: #ECF0F1;
  color: #328ee4;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header .container .h-row .h-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header .container .h-row .h-right .h-div {
  padding-right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #header .container .h-row .h-right .h-div .user-name {
  font-size: 17px;
  color: #273746;
}

body #header .container .h-row .h-right .h-div .log {
  margin-top: 5px;
  font-size: 16px;
}

body #header .container .h-row .h-right .h-div .log a {
  color: #a4a6a8;
}

body #header .container .h-row .h-right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body main #selectName {
  -webkit-transition: 400ms all;
  transition: 400ms all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #selectName #select-input {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  width: 400px;
  height: 60px;
  padding-left: 20px;
  border-radius: 50px;
  color: #000;
  border: 1px solid #003465;
}

body main #selectName .user-btn {
  cursor: pointer;
  background: #328ee4;
  margin-top: 10px;
  padding: 13px 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
}

body main #selectName.active {
  visibility: hidden;
  opacity: 0;
}

body main #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

body main #main .main-left .main-container .main-row .main-item {
  width: 180px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

body main #main .main-left .main-container .main-row .main-item ul {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #main .main-left .main-container .main-row .main-item ul li {
  margin-bottom: 30px;
}

body main #main .main-left .main-container .main-row .main-item ul li:last-child {
  margin-bottom: 0;
}

body main #main .main-left .main-container .main-row .main-item ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b3;
  font-size: 18px;
  font-weight: 400;
}

body main #main .main-left .main-container .main-row .main-item ul li a.active {
  color: #328ee4;
}

body main #main .main-left .main-container .main-row .main-item ul li a i {
  font-size: 25px;
  margin-right: 10px;
  color: #000;
}

body main #main .main-left .main-container .main-row .main-item ul li a i.active {
  color: #328ee4;
}

body main #main .main-right {
  margin-left: 30px;
}

body main #main .main-right .create-post .post-container {
  width: 650px;
  background: #fff;
  border-radius: 15px;
}

body main #main .main-right .create-post .post-container img {
  padding: 20px 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
}

body main #main .main-right .create-post .post-container .post-input {
  padding: 20px 20px;
  border-radius: 15px;
  background: #fff;
}

body main #main .main-right .create-post .post-container .post-input textarea {
  border-radius: 15px;
  background: #F7F9F9;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  resize: none;
}

body main #main .main-right .create-post .post-container .get-post {
  padding: 0px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

body main #main .main-right .create-post .post-container .get-post img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

body main #main .main-right .create-post .post-container .get-post span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #328ee4;
  font-size: 18px;
}

body main #main .main-right .create-post .post-container .get-post span i {
  margin-left: 10px;
  font-size: 25px;
}

body main #main .main-right .create-post .post-container .get-post span input {
  width: 135px;
}

body main #main .main-right .create-post .post-container .get-post button {
  -webkit-transition: 200ms all;
  transition: 200ms all;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: #328ee4;
  padding: 10px 20px;
  font-size: 19px;
  color: #fff;
}

body main #main .main-right .create-post .post-container .get-post button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main #main .follow-area {
  position: absolute;
  right: 0;
  width: 308px;
  background: #fff;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

body main #main .follow-area .follow-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

body main #main .follow-area .follow-grid div {
  margin: 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #main .follow-area .follow-grid div span {
  margin: 0 10px;
}

body main #main .follow-area .follow-grid div span.follow-name {
  color: #000;
  margin-bottom: 5px;
  font-size: 18px;
}

body main #main .follow-area .follow-grid div span.follow a {
  color: #a4a6a8;
}

body main #main .follow-area .follow-grid div img {
  width: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 55px;
  border-radius: 50%;
}

body main #all-post {
  max-width: 1200px;
  margin: 0px auto;
}

body main #all-post .all-post-container {
  background: #fff;
  margin-left: 212px;
  width: 648px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  overflow-x: hidden;
}

body main #all-post .all-post-container .post-cmt {
  padding: 5px 20px 10px 5px;
}

body main #all-post .all-post-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px 15px;
  border-radius: 30px;
}

body main #all-post .all-post-container p {
  padding: 15px 30px 0;
  height: auto;
  font-size: 17px;
  font-family: 'Mulish', sans-serif;
}

body main #all-post .all-post-container .post-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
}

body main #all-post .all-post-container .post-like .input-section {
  padding: 10px 0;
  -webkit-transition: 400ms all;
  transition: 400ms all;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main #all-post .all-post-container .post-like .input-section input {
  border: 1px solid #328ee4;
  width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  color: #a4a6a8;
}

body main #all-post .all-post-container .post-like .input-section button {
  cursor: pointer;
  margin-left: 5px;
  background: #328ee4;
  color: #fff;
  border-radius: 10px;
  padding: 8px 10px;
}

body main #all-post .all-post-container .post-like i {
  cursor: pointer;
  color: #328ee4;
  font-size: 30px;
  margin-left: 10px;
}

.menu-open {
  display: none;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  body main #main .follow-area,
  body #header {
    padding: 0 50px;
  }
  body main #main .follow-area,
  body #header .container .h-row .h-right {
    display: none;
  }
  body #header .container .h-row .h-average {
    margin-left: 0;
  }
  body main #main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #all-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 678px) {
  body .login .login-container {
    padding: 30px 10px;
    width: 90%;
  }
  body .login .login-container .login-row .login-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
  }
  body .login .login-container .login-row form {
    width: 300px;
  }
  body .login .login-container .login-row form label {
    font-size: 16px;
  }
  body .login .login-container .login-row form .form-btn {
    font-size: 18px;
  }
  body .login .login-container .login-row form input {
    font-size: 17px;
    padding-left: 15px;
  }
  body .login .login-container .register-link p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .login .login-container .register-link p span {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  body main #all-post .all-post-container .post-like .input-section input {
    width: 180px;
  }
  header {
    padding: 10px 0 !important;
  }
  .menu-open {
    display: block;
    position: fixed;
    left: -16px;
    top: 48%;
    border-radius: 10px;
    z-index: 1000;
    background: #000;
    padding: 5px 10px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transition: 400ms all;
    transition: 400ms all;
  }
  .menu-open.active {
    left: 103px;
  }
  .menu-open span {
    color: #fff;
    font-size: 20px;
  }
  .main-left {
    position: fixed;
    left: -100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    -webkit-transition: 400ms all;
    transition: 400ms all;
  }
  .main-left.active {
    left: -2% !important;
  }
  body main #main .main-right .create-post .post-container {
    width: 500px;
  }
  body main #all-post .all-post-container {
    margin-left: 0;
    width: 500px;
  }
  body #header .container .h-row .h-average input {
    width: 450px;
  }
  body #header .container .h-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #all-post {
    margin-top: 25px;
  }
  body main #all-post .all-post-container {
    margin-top: 0;
  }
  body main #main .main-right {
    margin-left: 0;
  }
  body main #main .main-left .main-container .main-row .main-item {
    width: 130px;
  }
  body main #main .main-left .main-container .main-row .main-item ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  body main #selectName #select-input {
    width: 300px !important;
  }
  body #header .container .h-row .h-average input {
    width: 350px;
  }
  body main #main .main-right .create-post .post-container {
    width: 400px;
  }
  body main #all-post .all-post-container {
    width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  body #header .container .h-row .h-average input {
    width: 100%;
  }
  body main #main .main-right .create-post .post-container {
    width: 365px;
  }
  body main #all-post .all-post-container {
    width: 365px;
  }
}
/*# sourceMappingURL=style.css.map */